.feature-section {
    padding: 8rem 0;
    overflow: hidden;
}

.feature-block {
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    width: 108rem;
    height: 48rem;
    flex-shrink: 0;
    display: flex;
    
}

.feature-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    scroll-snap-align: start;
    flex-shrink: 0;   
}

.feature-title {
    position: absolute;
    top: 17.7rem;
    left: 8rem;
    z-index: 2;
    font-size: 3.5rem;
    font-weight: 500;
    color: var(--gray);
    line-height: 1.4;
    max-width: 45%;
}

.feature-slide {
  display: flex;
  gap: 1.6rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  cursor: grab;
  padding: 2rem 8rem;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.feature-slide::-webkit-scrollbar {
    display: none;
}

