@import "header.css";
@import "btn.css";
@import "carousel.css";
@import "hero.css";
@import "feature-slide.css";
@import "details.css";
@import "price.css";
@import "footer.css";

:root {
    --primary: #52483E;
    --light: #8B8782;
    --red: #883D39;
    --green: #94915B;
    --yellow: #D8B74B;
    --gray: #3B3B3B;
    --white: #ffffff;
    --black: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.wrapper-top {
    background: linear-gradient(180deg,rgba(210, 205, 198, 1) 0%, rgba(245, 245, 245, 1) 100%);
}

.wrapper-bottom {
    background: linear-gradient(0deg,rgba(210, 205, 198, 1) 0%, rgba(245, 245, 245, 1) 100%);
}

body {
    margin: 0;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;

}

*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}